<div class="view-or-take-survey box">
  <h2>{{survey.name}}</h2>
  <h4>{{survey.description}}</h4>
  {{#each survey.optionsWithIndex as |optionObject|}}
    <div class='box'>
      <p name='options[{{optionObject.optionArrayIndex}}]'>{{optionObject.option}}</p>
      <p>Number of Votes: {{optionObject.numVotes}}</p>
      <button data-vote-id="{{optionObject.optionArrayIndex}}"
         class="vote-button">Vote</button>
    </div>
  {{/each}}
  </div>
