<div class="view-or-take-survey box">
  <h2>{{survey.name}}</h2>
  <h4>{{survey.description}}</h4>
  <div class='box'>
    <p name='options[0]'>{{survey.options.[0].option}}</p>
    <p>Number of Votes: {{survey.options.[0].numVotes}}</p>
    <button data-vote-id="0" class="vote-button">Vote</button>
  </div>
  <div class='box'>
    <p name='options[1]'>{{survey.options.[1].option}}</p>
    <p>Number of Votes: {{survey.options.[1].numVotes}}</p>
    <button data-vote-id="1" class="vote-button">Vote</button>
  </div>
  <div class='box'>
    <p name='options[2]'>{{survey.options.[2].option}}</p>
    <p>Number of Votes: {{survey.options.[2].numVotes}}</p>
    <button data-vote-id="2" class="vote-button">Vote</button>
  </div>
  <div class='box'>
    <p name='options[3]'>{{survey.options.[3].option}}</p>
    <p>Number of Votes: {{survey.options.[3].numVotes}}</p>
    <button data-vote-id="3" class="vote-button">Vote</button>
  </div>
  <div class='box'>
    <p name='options[4]'>{{survey.options.[4].option}}</p>
    <p>Number of Votes: {{survey.options.[4].numVotes}}</p>
    <button data-vote-id="4" class="vote-button">Vote</button>
  </div>
</div>
