<form class="update-form form-group">
  <fieldset>
    <legend>Update A Survey</legend>
    <label>Survey Name:</label>
    <input name='survey[name]' class="form-control" type='text' placeholder="name" value="{{survey.name}}" required>
    <br>
    <label>Question:</label>
    <input name='survey[description]' class="form-control" type='text' placeholder="description" value="{{survey.description}}">
    <br>
    <label>Answer Options:</label>
    {{#each survey.optionsWithIndex as |optionObject|}}
      <input name='options[{{optionObject.optionArrayIndex}}]'
         class="form-control" type='text'
         placeholder="Option {{optionObject.optionArrayIndex}}"
         value="{{optionObject.option}}">
    {{/each}}
    <!-- <input name='options[1]' class="form-control" type='text' placeholder="Option 2" value="{{survey.options.[1].option}}" required>
    <input name='options[2]' class="form-control" type='text' placeholder="Option 3" value="{{survey.options.[2].option}}" required>
    <input name='options[3]' class="form-control" type='text' placeholder="Option 4" value="{{survey.options.[3].option}}" required>
    <input name='options[4]' class="form-control" type='text' placeholder="Option 5" value="{{survey.options.[4].option}}" required> -->
    <br>
    <input type='submit' class="form-control" value='Submit Survey'>
  </fieldset>
</form>
