{{#each surveys as |survey|}}
  <div data-id="{{survey.id}}" class="box">
    <h2 class='name'>
      {{survey.name}}
    </h2>
    <h4 class='description'>
      {{#if survey.description}}
      {{survey.description}}
      {{/if}}
    </h4>
    <p class='options'>
      {{#if survey.options}}
      {{survey.options}}
      {{else}}
        No more options provided
      {{/if}}
    </p>
      {{#if survey.editable}}
        {{> survey-delete-button id=survey.id}}
        {{> survey-update-button id=survey.id}}
      {{/if}}
  </div>
{{/each}}
