<div class="view-or-take-survey box">
  <h2>{{survey.name}}</h2>
  <h4>{{survey.description}}</h4>
  <div class='box'>
    <p name='options[0]'>{{survey.options.[0].option}}</p>
    <p>Number of Votes: {{survey.options.[0].numVotes}}</p>
    <button data-vote-id="0" class="vote-button btn btn-light btn-sm">Vote</button>
  </div>
  {{#each survey.optionsWithIndex as |optionObject|}}
    <div class='box'>
      <p name='options[{{optionObject.optionArrayIndex}}]'>{{optionObject.option}}</p>
      <p>Number of Votes: {{optionObject.numVotes}}</p>
      <button data-vote-id="{{optionObject.optionArrayIndex}}"
         class="vote-button">Vote</button>
    </div>
  {{/each}}
  </div>
